body{
background:#101820;
color:white;
font-family:tahoma;
text-align:center;
margin:0;
padding:0;
}

.container{
margin-top:50px;
}

h1{
color:#00ff99;
}

.resources{
background:#1b2838;
width:300px;
margin:auto;
padding:20px;
border-radius:10px;
margin-bottom:20px;
}

button{
background:#00aa66;
color:white;
border:none;
padding:12px 20px;
margin:5px;
cursor:pointer;
border-radius:6px;
font-size:16px;
}

button:hover{
background:#00cc77;
}

#result{
margin-top:20px;
font-size:18px;
color:yellow;
}
